<h1 class="text-2xl font-semibold text-main m-3 pl-24">Brands</h1>

<div class="container grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-6 mx-auto p-10 w-[90%]">
  @for (brand of Brands;track $index)
   { 
    <a [routerLink]="['/brands', brand._id]">
    <div
        class="product-card flex flex-col items-center justify-between bg-white rounded shadow hover:shadow-lg transition-shadow h-[280px] p-4 group">
        <img [src]="brand.image" [alt]="brand.name" class="w-full h-[150px] object-fit rounded">
    
        <div class="p-2 text-center flex flex-col justify-between flex-grow">
            <p class="text-main font-semibold line-clamp-1">{{ brand.name }}</p>
        </div>
    
    </div>
    </a>
}
</div>
